<div class="text-center mb-3">
    <h1>Upload</h1>
</div>
<hr class="my-2">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="form-holder text-center">
            <form class="form-inline" action="/tubes/upload" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label h3 mb-2" for="title">Title</label>
                        <div class="controls">
                            <input type="text" id="title" name="Title" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label h3 mb-2" for="author">Author</label>
                        <div class="controls">
                            <input type="text" id="author" name="Author" placeholder=""
                                   class="input-xlarge">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label h3 mb-2" for="youtubelink">YouTube Link</label>
                        <div class="controls">
                            <input type="text" id="youtubelink" name="YouTubeLink" placeholder=""
                                   class="input-xlarge">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label h3 mb-2" for="Description">Description</label>
                        <div class="controls">
                            <textarea rows="4" cols="80" id="Description" name="Description"
                                      placeholder="" class="input-xlarge"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-info">Upload</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<hr class="my-3" />