  <header>
        <h1>Hello Sammy</h1>
        <a href="#/index.html">Home</a>
        <a href="#/about">About</a>
        <a href="#/contact">Contact</a>
        <!-- <a href="#/books/22">Books</a> -->
        <a href="#/login">Login</a>
        <a href="#/hello/Test">Say Hi</a>
    </header>